[submodule "operator-source"]
	path = operator-source
	url = https://repo1.dso.mil/dsop/opensource/strimzi/operator.git
[submodule "jmx-exporter-ib-source"]
	path = jmx-exporter-ib-source
	url = https://repo1.dso.mil/dsop/opensource/prometheus/jmx-exporter.git
[submodule "kafka-native-ib"]
	path = kafka-native-ib
	url = https://repo1.dso.mil/dsop/opensource/apache/kafka-native
